Set-PSReadLineKeyHandler -Key '{shortcut}' -ScriptBlock {{
    [Microsoft.PowerShell.PSConsoleReadLine]::RevertLine()
    [Microsoft.PowerShell.PSConsoleReadLine]::Insert("git commit -m `"$(git-commit-suggest)`"")
}}